@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #eeeeee;
  --secondary: #ffffff;
  --green: #82cd47;
  --secondary-light: rgba(255, 255, 255, 0.2);
  --secondary-light-2: rgba(255, 255, 255, 0.1);
  --white:   rgba(70, 64, 96, 0.5);
  --black: #ffffff;

  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'MuseoModerno', 'cursive';
}


.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  width: 100px;
  border-radius: 50px;
  color: var(--black);
  /* background-color: white;
  box-shadow: var(--shadow); */

  cursor: pointer;
  border: 2px solid var(--primary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.9s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}





.profile-dropdown-btn span {
padding-left: 1rem;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
  
}

.profile-dropdown-list hr {
  border: 0.10px solid var(--secondary);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
  font-family: 'MuseoModerno', 'cursive';

}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}
